<% provide(:title, @trial.title) %>
<div class="row">
  <div class="col-md-3">
  <%= link_to "<- Back to project", user_project_path(current_user.id, @project.id), class: "btn btn-md btn-primary" %>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <section class="project_info">
      <h1>
        <%= @trial.title %>
	  </h1>
	  <h3>
	  Synopsis:
	  <small>
	    <%= @trial.synopsis %>
	  </small></h3>
	  <h3>
	  Temp: 
	  <small>
	    <%= @trial.temp %>
	  </small></h3>
	  <h3>
	  Location: 
	  <small>
	    <%= @trial.location %>
	  </small></h3>
    </section>
  </div>
  </div>
	<div class="row">
      <div class="col-md-4">
	  </div>
	  <div class="col-md-4">
		<%= link_to "Run Trial", run_trial_path(@trial.id), class: "btn btn-lg btn-primary btn-block" %>
      </div>
     <div class="col-md-4">
     </div>
</div>