<li id="project-<%= project.id %>">
  <span class="project"><%= link_to project.title, user_project_path(@user, project.id) %></span>

  <span class="synopsis"><%= project.synopsis %></span>
  <span class="timestamp">
    Created <%= time_ago_in_words(project.created_at) %> ago.
	<% if current_user?(project.user) %>
	<div class="btn-group btn-group-xs">
      <button type="button" class="btn btn-default">
	    <small>
	      <%= link_to "delete", user_project_path(@user, project.id), method: :delete,
                                       data: { confirm: "You sure? This action cannot be undone, and will destroy all trials associated with this project." } %>
	    </small>
	  </button>
	  <button type="button" class="btn btn-default">
	    <small>
	      <%= link_to "edit", edit_user_project_path(@user, project.id) %>
		</small>
	  </button>
	  </div>
    <% end %>
  </span>
</li>